NEXT_PUBLIC_WELCOME_NAME=Eduardo
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_URL=https://github.com/Eduardo-Frigo
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/eduardo-frigo-b70067174/
